@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#header {
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
background-image: url('IMG-2163.PNG');

  

}

#bio-1{
  text-indent: 10px;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin-top: 10px
}

#bio-2 {
  text-indent: 10px;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

