@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  scrollbar-color: black;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




#bio-1{
  text-indent: 10px;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin-top: 10px
}

#bio-2 {
  text-indent: 10px;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

#video {
  aspect-ratio: 16 / 9;
  width: 70%;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  #insta-icon:hover {
    animation: insta-icon-spin 2 0.4s linear;
  }
}



@keyframes insta-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

